<html>
    <body style="background:#C29B69;"></body>
        <h1>Contact</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{form.as_p}}
            <button>SUBMIT</button>
                <body style="background:#C29B69;">
                <table width="100%" style="background-color:#EBA64D;border:solid 1px #663A00;">
                    <tr>
                        <td width="50%">
                            <h1>Your Full name:{name}</h1>
                            <strong>Citizenship: </strong>India | <strong>D.O.B: </strong>dd/mm/yy<br />
                            <strong>Contact: </strong>9307951245 | <strong>Email: </strong>email@email.com<br />
                        </td>
                        <td align="right">
                            <img src="images.jpg" height="150" width="150" />
                        </td>
                    </tr>
                </table>
                <br />
                <table width="100%" style="background:#fff;border:solid 1px #663A00;">
                    <tr style="background-color:#EBA64D;"><td colspan ="2"><strong> Profile </strong></td></tr>
                    <tr>
                        <td width="20%">
                            <em>Key Aspect</em> 
                        </td>
                        <td>
                            <p> some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data 
                            </p>
                        </td>
                    </tr>
                </table>
                <br />
                <table width="100%" style="background:#fff;border:solid 1px #663A00;">
                    <tr style="background-color:#EBA64D;"><td><strong> Key Skills </strong></td></tr>
                    <tr>
                        <td>
                            <table width="100%">
                            <tr bgcolor="#C29B69" align="center">
                                <td>Operating Systems</td>
                                <td>Languages</td>
                                <td>Databases</td>
                                <td>Web Technologies</td>
                            </tr>
                            <tr align="center">
                                <td>Windows XP/7/8/10 <br /> RedHat, CentOS</td>
                                <td>C/C++ , Java/J2EE <br /> PHP, Python</td>
                                <td>MySQL, Oracle <br /> Big Data</td>
                                <td>HTML5, CSS3, JavaScript <br /> AJAX, JSON</td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br />
                <table width="100%" style="background:#fff;border:solid 1px #663A00;">
                    <tr style="background-color:#EBA64D;"><td><strong>Academic Qualification </strong></td></tr>
                    <tr>
                        <td>
                            <table width="100%">
                            <tr align="center">
                                <th>S.No</th>
                                <th>Qualification</th>
                                <th>College / University</th>
                                <th>Year</th>
                                <th>Percentage</th>
                            </tr>
                            <tr align="center">
                                <td>1.</td>
                                <td>High School</td>
                                <td>Data</td>
                                <td>Data</td>
                                <td>Data</td>
                            </tr>
                            <tr align="center">
                                <td>2.</td>
                                <td>Intermediate</td>
                                <td>Data</td>
                                <td>Data</td>
                                <td>Data</td>
                            </tr>
                            <tr align="center">
                                <td>3.</td>
                                <td>Graduation</td>
                                <td>Data</td>
                                <td>Data</td>
                                <td>Data</td>
                            </tr>
                            <tr align="center">
                                <td>4.</td>
                                <td>Post Graduation</td>
                                <td>Data</td>
                                <td>Data</td>
                                <td>Data</td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br />
                <table width="100%" style="background:#fff;border:solid 1px #663A00;">
                    <tr style="background-color:#EBA64D;"><td colspan ="2"><strong> Strengths and Weakness </strong></td></tr>
                    <tr>
                        <th width="50%" bgcolor="#C29B69">
                            Strength	
                        </th>
                        <th bgcolor="#C29B69">
                            Weakness
                        </th>
                    </tr>
                    <tr>
                        <td width="50%">
                             <ol>
                                <li>Strength 1</li>
                                <li>Strength 2</li>
                                <li>Strength 3</li>
                                <li>Strength 4</li>
                              </ol> 	
                        </td>
                        <td>
                            <ol>
                                <li>Weakness 1</li>
                                <li>Weakness 2</li>
                                <li>Weakness 3</li>
                                <li>Weakness 4</li>
                            </ol>
                        </td>
                    </tr>
                </table>
                <br />
                <table width="100%" style="background:#fff;border:solid 1px #663A00;">
                    <tr style="background-color:#EBA64D;"><td colspan ="2"><strong> Declaration </strong></td></tr>
                    <tr>
                        <td colspan="2">
                            <p> some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data  some data 
                            </p>
                        </td>
                    </tr>	
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>	
                        <td>
                        <strong>Place: </strong> Kanpur<br />
                        <strong>Date: </strong>		
                        </td>
                        <td align="right"><strong> Your Full Name</strong></td>
                    </tr>
                </table>
        </form>
    </body>
</html>